<div class="container px-4 sm:px-6 md:px-8 mx-auto py-4 text-xl">
  <nav class="flex justify-between items-center">
    <a routerLink="/" class="flex">
      <img src="brand.svg" width="28" height="28" /><h1 class="ml-2 font-medium">TechGarden</h1>
    </a>
    <div class="flex justify-between items-center space-x-4">
      <a
        class="text-sm font-medium text-gray-700 hover:text-gray-900"
        routerLink="/pricing"
      >
        Pricing
      </a>
      <button
        class="inline-flex items-center justify-center whitespace-nowrap font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 shadow h-9 bg-black hover:bg-gray-800 text-white text-sm px-4 py-2 rounded-full"
      >
        Sign Up
      </button>
    </div>
  </nav>
</div>
