<div class="py-12 container px-4 sm:px-6 md:px-8 mx-auto">
    <div class="grid md:grid-cols-2 gap-8 max-w-xl mx-auto">
        <div class="sm:pt-6">
            <h2 class="text-2xl font-medium text-gray-900 mb-2">Base</h2>
            <p class="text-sm text-gray-600 mb-4">
                with
                <!-- -->7<!-- -->
                day free trial
            </p>
            <p class="text-4xl font-medium text-gray-900 mb-6">
                $<!-- -->8<!-- -->
                <span class="text-xl font-normal text-gray-600">
                    per user /
                    <!-- -->month
                </span>
            </p>
            <ul class="space-y-4 mb-8">
                <li class="flex items-start">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-check h-5 w-5 text-orange-500 mr-2 mt-0.5 flex-shrink-0"
                    >
                        <path d="M20 6 9 17l-5-5"></path>
                    </svg>
                    <span class="text-gray-700">Unlimited Usage</span>
                </li>
                <li class="flex items-start">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-check h-5 w-5 text-orange-500 mr-2 mt-0.5 flex-shrink-0"
                    >
                        <path d="M20 6 9 17l-5-5"></path>
                    </svg>
                    <span class="text-gray-700">Unlimited Members</span>
                </li>
                <li class="flex items-start">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-check h-5 w-5 text-orange-500 mr-2 mt-0.5 flex-shrink-0"
                    >
                        <path d="M20 6 9 17l-5-5"></path>
                    </svg>
                    <span class="text-gray-700">Email Support</span>
                </li>
            </ul>
            <form action="" enctype="multipart/form-data">
                <input
                    type="hidden"
                    name="$ACTION_ID_b7a30a4434d68f54dde1652564df8160bd8b527d"
                /><input
                    type="hidden"
                    name="priceId"
                    value="price_1PzhOfERuunbUnvUAnUUGohR"
                />
                <button
                    class="whitespace-nowrap text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 shadow h-9 px-4 py-2 w-full bg-white hover:bg-gray-100 text-black border border-gray-200 rounded-full flex items-center justify-center"
                    type="submit"
                >
                    Get Started
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-arrow-right ml-2 h-4 w-4"
                    >
                        <path d="M5 12h14"></path>
                        <path d="m12 5 7 7-7 7"></path>
                    </svg>
                </button>
            </form>
        </div>
        <div class="sm:pt-6">
            <h2 class="text-2xl font-medium text-gray-900 mb-2">Plus</h2>
            <p class="text-sm text-gray-600 mb-4">
                with
                <!-- -->7<!-- -->
                day free trial
            </p>
            <p class="text-4xl font-medium text-gray-900 mb-6">
                $<!-- -->12<!-- -->
                <span class="text-xl font-normal text-gray-600">
                    per user /
                    <!-- -->month
                </span>
            </p>
            <ul class="space-y-4 mb-8">
                <li class="flex items-start">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-check h-5 w-5 text-orange-500 mr-2 mt-0.5 flex-shrink-0"
                    >
                        <path d="M20 6 9 17l-5-5"></path>
                    </svg>
                    <span class="text-gray-700">Everything in Base, and:</span>
                </li>
                <li class="flex items-start">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-check h-5 w-5 text-orange-500 mr-2 mt-0.5 flex-shrink-0"
                    >
                        <path d="M20 6 9 17l-5-5"></path>
                    </svg>
                    <span class="text-gray-700"
                        >Early Access to New Features</span
                    >
                </li>
                <li class="flex items-start">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-check h-5 w-5 text-orange-500 mr-2 mt-0.5 flex-shrink-0"
                    >
                        <path d="M20 6 9 17l-5-5"></path>
                    </svg>
                    <span class="text-gray-700"
                        >24/7 Support + Slack Access</span
                    >
                </li>
            </ul>
            <form action="" enctype="multipart/form-data">
                <input
                    type="hidden"
                    name="$ACTION_ID_b7a30a4434d68f54dde1652564df8160bd8b527d"
                /><input
                    type="hidden"
                    name="priceId"
                    value="price_1PzhOgERuunbUnvUhoOCdgG0"
                />
                <button
                    class="whitespace-nowrap text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 shadow h-9 px-4 py-2 w-full bg-white hover:bg-gray-100 text-black border border-gray-200 rounded-full flex items-center justify-center"
                    type="submit"
                >
                    Get Started
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-arrow-right ml-2 h-4 w-4"
                    >
                        <path d="M5 12h14"></path>
                        <path d="m12 5 7 7-7 7"></path>
                    </svg>
                </button>
            </form>
        </div>
    </div>
</div>
